<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="apple-themes-web-app-capable" content="yes">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta name="format-detection" content="telephone=no">
<title>个人信息</title>
<link rel="stylesheet" type="text/css" href="/static/mobile/css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/mobile/css/iconfont.css" tppabs="">
<link rel="stylesheet" type="text/css" href="/static/mobile/css/layui.css" tppabs="">
<link rel="stylesheet" type="text/css" href="/static/mobile/css/swiper.min.css" tppabs="">
<link rel="stylesheet" type="text/css" href="/static/mobile/css/semantic.css" tppabs="">
<script type="text/javascript" src="/static/mobile/js/jquery.min.js" tppabs=""></script>
<script src="/static/mobile/js/swiper.min.js" tppabs=""></script>
</head>
<body>
<div class="content_div">
  
    <!--header-->   
  <div class="header">
      <a href="setting" tppabs="" class="back"><i class="iconfont icon-xiangzuo"></i></a>
        <p>个人信息</p>
    </div>
  <!--header-->
    <form action="" method="post" id="admin_login" class="cmxform form-horizontal">
        <div class="tianjia_yhkcon">
          <!--   <div class="xinxi_one">
                <span>原密码：</span>
                <input type="password" class="input" name="old_pwd" id='userName' value="" placeholder="请输入密码"/>
            </div>
            <div class="xinxi_one">
                <span>新密码：</span>
                <input type="password" class="input" name='us_pwd' value="" placeholder="6-20位数字+字母组合"/>
            </div>
            <div class="xinxi_one">
                <span>确认密码：</span>
                <input type="password" class="input" name='pwd' value="" placeholder="再次输入新密码"/>
            </div> -->

            <div class="xinxi_one">
                <span>真实姓名：</span>
                <input type="text" class="input" name="us_real_name" value="{$mine['us_real_name']}" placeholder="真实姓名"/>
            </div>
            <div class="xinxi_one">
                <span>银行名称：</span>
                <input type="text" class="input" name="us_bank_name" value="{$mine['us_bank_name']}" placeholder="银行名称"/>
            </div>
            <div class="xinxi_one">
                <span>银行卡姓名：</span>
                <input type="text" class="input" name="us_bank_person" value="{$mine['us_bank_person']}" placeholder="银行卡姓名"/>
            </div>
            <div class="xinxi_one">
                <span>银行卡号：</span>
                <input type="text" class="input" name="us_bank_number" value="{$mine['us_bank_number']}" placeholder="银行卡号"/>
            </div>
             <div class="xinxi_one">
                <span>微信号：</span>
                <input type="text" class="input" name="us_wechat" value="{$mine['us_wechat']}" placeholder="微信号"/>
            </div>
            <div class="xinxi_one">
                <span>支付宝：</span>
                <input type="text" class="input" name="us_alipay" value="{$mine['us_alipay']}" placeholder="支付宝"/>
            </div>

            
            <!-- <div class="xinxi_one">
                <span>银行名称：</span>
                <input type="password" class="input" name='newpass' value="" placeholder="6-20位数字+字母组合"/>
            </div>
            <div class="xinxi_one">
                <span>确认密码：</span>
                <input type="password" class="input" name='qrnewpass' value="" placeholder="再次输入新密码"/>
            </div>
            <div class="xinxi_one">
                <span>新交易密码：</span>
                <input type="password" class="input" name='newjypass' value="" placeholder="6-20位数字+字母组合"/>
            </div>
            <div class="xinxi_one">
                <span>确认交易密码：</span>
                <input type="password" class="input" name='qrnewjypass' value="" placeholder="再次输入新密码"/> 
            </div> -->
      </div>
    
    <div class="denglu_con">
      <!-- <div class="denglu_con_one">
            <div class="xinxi_one">
                <span>手机号：</span>
                <input type="text" class="input" id='usertel' name='usertel' value="" placeholder="请输入手机号"/>
            </div>
            <div class="xinxi_two">
                <span>验证码：</span>
                <input type="number" class="input" name='vCode' value="" placeholder="手机验证码"/>
                <input type="button" id="btn" value="获取验证码" onclick="GetVerifying(this)" />  
            </div>
        </div>
      </div> -->
      <div class="tuichu ajax-post">
        <a>确定</a>
      </div> 
    </form>
</div> 
</body>
</html>
<!--使用layui-->

<script src="/static/mobile/js/countUp.js" tppabs=""></script>
<!-- <script src="/static/mobile/js/layui.all.js" tppabs="" charset="utf-8"></script>
<script src="/static/mobile/js/common.js" tppabs=""></script> -->
<script src="/static/mine/layer/layer.js"></script>
<script type="text/javascript">

document.oncontextmenu = function () { return false; };
document.onkeydown = function () {
    if (window.event && window.event.keyCode == 123) {
        event.keyCode = 0;
        event.returnValue = false;
        return false;
    }
};
$('.ajax-post').click(function() {
    ajaxPost();
});
// ajax post提交
function ajaxPost() {
    var target,query,form;
    // var that = this;
    form = $('.form-horizontal');
    target = form.get(0).action;
    query = form.serialize();
    var index = layer.load(2, {shade: false}); //0代表加载的风格，支持0-2
    $.ajax({
        type: "POST",
        url: 'account',
        data: query,
        dataType: "json",
        success: function(data) {
            if (data.url) {
                $('.ajax-post').attr('disabled', true).addClass('verify-disabled');
                layer.msg(data.msg, {icon: 1});
                setTimeout(function() {
                    layer.closeAll();
                    if (data.url) {
                        location.href = data.url;
                    } else {
                        location.reload();
                    }
                }, 2000);
            } else {
                layer.msg(data.msg, {icon: 2});
                setTimeout(function(){
                    layer.closeAll();
                    if (data.url) {
                        location.href = data.url;
                    } else {
                        // location.reload();
                    }
                }, 2000);
            }
        }
    });
}


function CountUpeses(objid,objmoney,numbers){
    var options = {
    useEasing: true, 
    useGrouping: true, 
    separator: ',', 
    decimal: '.', 
    };
    var demo = new CountUp(objid, 0, objmoney, numbers,2, options);
        if (!demo.error) {
        demo.start();
        } else {
        console.error(demo.error);
    }
}
function CountUpes(objid,objmoney){
    var options = {
    useEasing: true, 
    useGrouping: true, 
    separator: ',', 
    decimal: '.', 
    };
    var demo = new CountUp(objid, 0, objmoney, 4,2, options);
        if (!demo.error) {
        demo.start();
        } else {
        console.error(demo.error);
    }
}

</script>
<script type="text/javascript">   
    function GetVerifying() {
        var tel = document.getElementById("usertel").value;
        var btn = document.getElementById("btn");
        var userName=document.getElementById("userName").value;
        if(tel == 0) {
            // alert('用于登陆的手机号码不能为空...');
            layer.msg('手机号码不能为空...', {icon: 2});
            //获得焦点
            document.getElementById("usertel").focus();
            return;
        }
        if(/^1[3456789]\d{9}$/.test(tel)) {
            $.ajax({
                type: "POST",
                url: "creatcode.html"/*tpa=http://vip5.gxbbwrj.com/y8908cs/public/creatcode.html*/,
                data: 'mobile='+tel+'&userName='+userName,
                dataType: "json",
                success: function(data) {
                    if(data.msg=='发送成功'){
                      time(btn);
                    }
                    layer.msg(data.msg);
                }
            });

        }else{
            // alert('手机号码格式不正确请重新输入...');
            layer.msg('手机号码格式不正确请重新输入...', {icon: 2});
             document.getElementById("userTel").focus();
            return;
        }
    }
    var wait = 120;
    function time(o) {
        if(wait == 0) {
            o.removeAttribute("disabled");
            o.value = "获取验证码";
            wait = 120;
        } else {
            o.setAttribute("disabled", true);
            o.value = wait + "s";
            wait--;
            setTimeout(function() {
                    time(o)
                },
                1000)
        }
    }
</script>
