<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/mobile/css/base.css" />
		<script src="/static/mobile/js/base.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			body,html{
				width: 100%;
				height: 100vh;
				background-image: url(/static/mobile/img/qidai.jpg);
				background-size: 100% 100%;
				background-repeat: no-repeat;
			}
			
		</style>
	</head>
	<body>
		<div class="header">
			<a href="javascript:history.go(-1);" class="left">
				<img src="/static/mobile/img/return.png" />
			</a>
			<span class="center"></span>
			<a href="javascript:void(0);" class="right"></a>
		</div>
		{include file="layout/footer" /}
	</body>
	<script src="/static/mobile/js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
	
</html>
