{include file="public/_meta" /}
<title></title>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 
        <span class="c-gray en">&gt;</span>财务管理 
        <span class="c-gray en">&gt;</span> AMFC
        <a class="btn btn-success radius r" style="margin-left:2px" href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
       <!--  <a class="btn btn-success radius r" style="margin-left:2px" href="javascript:void(0);" onclick="downdo()" title="下载" >
            <i class="Hui-iconfont">&#xe640;</i>
        </a> -->
    </nav>
    <div class="page-container">
        <div class="text-c">
            <form class="Huiform" method="get" action="">
               <!--  类型：
                <span class="select-box inline">
                    <select name="type" class="select">
                        <option value="">全部</option> 
                        <option value="1">后台充值</option> 
                        <option value="2">后台扣除</option>
                        <option value="3">卖出</option>
                        <option value="4">买入</option>
                        <option value="5">锁仓</option>
                        <option value="6">解仓</option>
                        <option value="7">置换DOKEN</option>
                        <option value="8">置换AMFC</option>
                        <option value="9">锁仓释放</option>
                        <option value="10">持币生息</option>
                        <option value="11">额外奖励</option>
                    </select>
                </span> -->
                <input type="text" class="input-text" style="width:150px" placeholder="用户编号、姓名" id="" name="keywords" value="{$Request.get.keywords|default=''}">
                <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            
            <span class="r">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
        <div class="mt-20">
            <table class="table table-border  table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th>id</th>
                        <th>用户编号</th>
                        <th>真实姓名</th>
                        <th>锁仓日期</th>
                        <th>锁仓数量</th>
                        <th>已经释放次数</th>
                        <th>下次预计释放日期</th>
                        <th>下次预计释放百分比</th>
                        <th>预计释放数量</th>
                       <!--  <th>本次释放量</th> -->
                        <th>剩余释放量</th>
                        <th>已释放总量</th>
                       
                        <!-- <th>操作</th> -->
                    </tr>
                </thead>
                <tbody>
                    {volist name='list' id="vo"}
                    <tr class="text-c">
                        <td>{$vo.id}</td>
                        <td>{$vo.us_text}</td>
                        <td>{$vo.us_name}</td>
                        <td>{$vo.add_time}</td>
                        <td>{$vo.suo_num}</td>
                        <td>{$vo.rea_time}</td>
                        <td>{$vo.yshi_time}</td>
                        <td>{$vo.yshi_bie}</td>
                        <td>{$vo.yshi_num}</td>
                        <!-- <td>{$vo.shi_num}</td> -->
                        <td>{$vo.sshi_num}</td>
                        <td>{$vo.zshi_num}</td>
                     
                        <!-- <td class="td-manage">
                            <a style="text-decoration:none" onclick="del({$vo.id})" title="删除"><i class="Hui-iconfont">&#xe706;</i></a>
                        </td> -->
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
        </div>
        {include file="public/_footer" /}
        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript">
        $('select[name="type"]').val({$Request.get.type});

        function create(id, url, key) {
            var url = "{:url('" + url + "')}?id=" + id;
            creatIframe(url, key);
        }
        
        function downdo(){
            var url = window.location.href;
            $.ajax({
                type:'get',
                url:url,
                data:{a:1},
                success:function(data){
                    window.location.href = data;
                }
            })
        }

        function change(id, value, key) {
            layer.confirm('确定要更改么？', {
                btn: ['确定', '取消']
            }, function(index, layero) {
                $.ajax({
                    type: "post",
                    url: "{:url('index')}",
                    data: { id: id, value: value, key: key },
                    success: function(data) {
                        if (data.code) {
                            location.href = '';
                        }
                    }
                });
            });
        }

        function del(id, key) {
            layer.confirm('确定要删除么？', {
                btn: ['确定', '取消']
            }, function(index, layero) {
                $.ajax({
                    type: "post",
                    url: "{:url('Every/allDel')}",
                    data: { id: id, key, key },
                    success: function(data) {
                        layer.msg(data.msg);
                        if (data.code == 1) {
                            setTimeout(function() {
                                location.href = data.url;
                            }, 1000);
                        }
                    }
                });
            });
        }
        </script>
</body>

</html>